# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\ruben\Documents\ESCOM\6to Semestre\Aplicaciones Comunicaciones en Red\Proyecto\Búsqueda Archivos\SearchFilesRing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
